<template>
  <article v-if="!isEditing" class="stack-small">
    <div class="custom-checkbox">
      <input :id="todoCheckboxId" type="checkbox" name="completed" class="checkbox"
          :checked="done" @change="updateDone">
      <label :for="todoCheckboxId" class="checkbox-label">{{label}}</label>
    </div>
    <div class="btn-group">
      <button type="button" class="btn" @click="toggleEdit" ref="editButton">
        Edit <span class="visually-hidden">{{label}}</span>
      </button>
      <button type="button" class="btn btn__danger" @click="deleteTodo">
        Delete <span class="visually-hidden">{{label}}</span>
      </button>
    </div>
  </article>
  <todo-item-edit-form v-else
      :id="todoCheckboxId"
      :label="label"
      @item-edited="itemEdited"
      @edit-cancelled="editCancelled"
  ></todo-item-edit-form>
</template>

<script>
  import TodoItemEditForm from './TodoItemEditForm.vue';

  export default {
    components: {
      TodoItemEditForm,
    },

    props: {
      todoId: {
        type: Number,
        required: true,
      },
      label: {
        type: String,
        required: true,
      },
      done: {
        type: Boolean,
        default: false,
      },
    },

    data() {
      return {
        isEditing: false,
      };
    },

    methods: {
      updateDone(event) {
        this.$emit('checkbox-changed', event.target.checked);
      },
      toggleEdit() {
        this.isEditing = true;
      },
      deleteTodo() {
        this.$emit('item-deleted');
      },
      itemEdited(newLabel) {
        this.isEditing = false;
        this.$emit('item-edited', newLabel);
        this.focusEditButton();
      },
      editCancelled() {
        this.isEditing = false;
        this.focusEditButton();
      },
      focusEditButton() {
        // Edit button is only available after next vdom update,
        // since the focus is always triggered from form buttons
        this.$nextTick(() => {
          let button = this.$refs.editButton;

          if (button) {
            button.focus();
          }
        });
      },
    },

    computed: {
      todoCheckboxId() {
        return `todo-item-${this.todoId}`;
      }
    },
  }
</script>

<style scoped>
  .custom-checkbox,
  .custom-checkbox > .checkbox,
  .custom-checkbox > .checkbox-label {
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25;
  }

  .custom-checkbox {
    display: block;
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    padding-left: 40px;
    clear: left;
  }

  .custom-checkbox > .checkbox-label {
    cursor: pointer;
    display: inline-block;
    color: #0b0c0c;
    margin-bottom: 0;
    padding: 8px 15px 5px;
  }

  .custom-checkbox > .checkbox-label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid currentColor;
    background: transparent;
  }

  .custom-checkbox > input[type="checkbox"]:focus + .checkbox-label::before {
    border-width: 4px;
    outline: 3px dashed #228bec;
  }


  .custom-checkbox > label::after {
    box-sizing: content-box;
    content: "";
    position: absolute;
    top: 11px;
    left: 9px;
    width: 18px;
    height: 7px;
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 5px 5px;
    border-top-color: transparent;
    opacity: 0;
    background: transparent;
  }

  .custom-checkbox > input[type="checkbox"]:checked + label::after {
    opacity: 1;
  }

  .custom-checkbox > .checkbox {
    width: 100%;
    height: 2.5rem;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .custom-checkbox > input:focus {
    outline: 3px dashed #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
  }

  .custom-checkbox > input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 1;
    width: 44px;
    height: 44px;
    margin: 0;
    opacity: 0;
  }

  @media only screen and (min-width: 40rem) {
    label,
    input,
    .custom-checkbox {
      font-size: 1.9rem;
      line-height: 1.31579;
    }
  }
</style>
