<template>
  <form @submit.prevent="onSubmit" class="stack-small">
    <div class="form-control">
      <label class="edit-label">Edit title for &quot;{{label}}&quot;</label>
      <input :id="id" v-model.lazy.trim="newLabel" ref="labelInput"
          type="text" name="title" autocomplete="off">
    </div>
    <div class="btn-group">
      <button type="button" class="btn" @click="onCancel">
        Cancel
        <span class="visually-hidden">editing {{label}}</span>
      </button>
      <button type="submit" class="btn btn__primary">
        Save
        <span class="visually-hidden">edit for {{label}}</span>
      </button>
    </div>
  </form>
</template>

<script>
  export default {
    props: {
      id: {
        type: String,
        required: true,
      },
      label: {
        type: String,
        required: true,
      },
    },

    data() {
      return {
        newLabel: this.label,
      };
    },

    mounted() {
      this.$refs.labelInput.focus();
    },

    methods: {
      onSubmit() {
        let newLabel = this.newLabel;

        if (newLabel && (newLabel !== this.label)) {
          this.$emit('item-edited', newLabel);
        }
      },
      onCancel() {
        this.$emit('edit-cancelled');
      },
    },
  }
</script>

<style>
  .edit-label {
    display: block;
    color: #0b0c0c;
    margin-bottom: 5px;
  }

  input {
    display: inline-block;
    margin-top: 0.4rem;
    width: 100%;
    min-height: 4.4rem;
    padding: 0.4rem 0.8rem;
    border: 2px solid #565656;
  }

  form {
    display: flex;
    flex-flow: row wrap;
  }

  form > * {
    flex: 0 0 100%;
  }
</style>
