<template>
  <section id="app">
    <h1>Todo List</h1>

    <todo-form @todo-added="addTodo"></todo-form>

    <h2 id="list-summary" ref="listSummary" tabindex="-1">{{listSummary}}</h2>

    <ul id="todo-items" class="stack-large" aria-labelledby="list-summary">
      <li v-for="item in todoItems" :key="item.id">
        <todo-item
          :todoId="item.id"
          :label="item.label"
          :done="item.done"
          @item-edited="editTodo(item, $event)"
          @item-deleted="deleteTodo(item)"
          @checkbox-changed="updateDoneStatus(item, $event)"
        ></todo-item>
      </li>
    </ul>
  </section>
</template>

<script>

import TodoItem from './components/TodoItem.vue';
import TodoForm from './components/TodoForm.vue';

export default {
  name: 'App',

  components: {
    TodoItem,
    TodoForm,
  },

  data() {
    return {
      todoItems: [
        { id: nextTodoId(), label: 'Learn Vue', done: false },
        { id: nextTodoId(), label: 'Create a Vue project with the CLI', done: true },
        { id: nextTodoId(), label: 'Have fun', done: true },
        { id: nextTodoId(), label: 'Create a to-do list', done: false },
      ],
    }
  },

  methods: {
    addTodo({ label }) {
      this.todoItems.push({
        id: nextTodoId(),
        label,
        done: false,
      });
    },
    updateDoneStatus(item, done) {
      item.done = done;
    },
    editTodo(item, newLabel) {
      item.label = newLabel;
    },
    deleteTodo(deletedItem) {
      let index = this.todoItems.findIndex((item) => item.id === deletedItem.id);
      this.todoItems.splice(index, 1);
      this.$refs.listSummary.focus();
    }
  },

  computed: {
    listSummary() {
      let numFinishedItems = this.todoItems.filter((item) => item.done).length;
      return `${numFinishedItems} out of ${this.todoItems.length} item(s) completed`;
    }
  },
}

let lastTodoId = 0;

function nextTodoId() {
  lastTodoId += 1;
  return lastTodoId;
}
</script>

<style scoped>
#app {
  background: #fff;
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  padding-top: 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 550px) {
  #app {
    padding: 4rem;
  }
}

#app > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

#app > form {
  max-width: 100%;
}

#app h1 {
  display: block;
  min-width: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
</style>
